<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    first app home
    <h2>{{author}}</h2>
    <h2>{{age}}</h2>
    <h2>{{list}}</h2>

    {% if age >= 20 %}
        <h4>your can drive</h4>
    {% elif age >= 10 and age < 20 %}
        <h4>your can't drive</h4>
    {% else %}
        <h4>your are a kid</h4>
    {% endif %}

    {% for i in courses %}
        <h4>{{i.id}} {{i.name}}</h4>
    {% endfor %}
</body>
</html>